@import "tw-animate-css";


@layer base {
  :root {
    --accent: --alpha(var(--color-black) / 4%);
    --accent-foreground: var(--color-zinc-800);
    --background: var(--color-white);
    --border: --alpha(var(--color-black) / 12%);
    --card: var(--color-white);
    --card-foreground: var(--color-zinc-800);
    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-red-700);
    --foreground: var(--color-zinc-800);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-700);
    --input: --alpha(var(--color-black) / 12%);
    --muted: --alpha(var(--color-black) / 4%);
    --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-black));
    --popover: var(--color-white);
    --popover-foreground: var(--color-zinc-800);
    --primary: var(--color-zinc-800);
    --primary-foreground: var(--color-zinc-50);
    --ring: var(--color-zinc-400);
    --secondary: --alpha(var(--color-black) / 4%);
    --secondary-foreground: var(--color-zinc-800);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-700);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-700)
  }
  .dark {
    --accent: --alpha(var(--color-white) / 6%);
    --accent-foreground: var(--color-zinc-200);
    --background: color-mix(in srgb, var(--color-zinc-950) 98%, var(--color-white));
    --border: --alpha(var(--color-white) / 12%);
    --card: color-mix(in srgb, var(--background) 98%, var(--color-white));
    --card-foreground: var(--color-zinc-200);
    --destructive: var(--color-red-500);
    --destructive-foreground: var(--color-red-400);
    --foreground: var(--color-zinc-200);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-400);
    --input: --alpha(var(--color-white) / 12%);
    --muted: --alpha(var(--color-white) / 6%);
    --muted-foreground: color-mix(in srgb, var(--color-zinc-500) 90%, var(--color-white));
    --popover: color-mix(in srgb, var(--background) 96%, var(--color-white));
    --popover-foreground: var(--color-zinc-200);
    --primary: var(--color-zinc-200);
    --primary-foreground: var(--color-zinc-800);
    --ring: var(--color-zinc-500);
    --secondary: --alpha(var(--color-white) / 6%);
    --secondary-foreground: var(--color-zinc-200);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-400);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-400)
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}